<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Form</title>
    <div th:replace="base :: headerfg"></div>
</head>
<style>
    .main {
        padding: 20px;
    }
</style>
<body>

<div th:replace="base :: navlinksfg"></div>


<div class = "main">

<form action="#"
      th:action="@{/processUser}"
      th:object="${user}"
      method="post"
      enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}" />

    First Name: <input type="text" th:field="*{firstName}" /><br />
    Last Name: <input type="text" th:field="*{lastName}" /><br />

    <select th:field="*{libro.id}">
        <option th:each="Libro : ${libros}"
                th:value="${libro.id}"
                th:text="${libro.title}"></option>
    </select>

    <div th:each="user : ${users}">
        <div th:if="${user.headshot} != null">
            <img th:src="${user.headshot} width=80 height=80"/>
            <br/>
        </div>
        <p th:text="${user.username}"></p>

    </div>
    <input type="file" name="file"/><br><br>
    <input type="submit" value="Enter" />

</form>

<div th:replace="base ::footerfg"></div>
</div>
</body>
</html>