<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail User</title>
    <div th:replace="base :: headerfg"></div>
</head>
<style>
    .main {
        padding: 20px;
    }
</style>
<body>


<div th:replace="base :: navlinksfg"></div>

<button><a th:href="@{/listUser}">Back to Category List.</a></button>

    <div class="main">

        <div>
            Category: <span th:text="${category.name}"></span><br/>

            <br>

            <a th:href="@{/listLibros}">Back to books.</a>

        </div>



</div>
<div th:replace="base ::footerfg"></div>
</body>
</html>