<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The People's Library</title>
    <div th:replace="base :: headerfg"></div>
</head>
<style>
    .main {
    padding: 20px;
    }
</style>
<body>
<div th:replace="base :: navlinksfg"></div>


<div class = "main">

    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>

        </tr>
        <tr th:each="libro : ${libros}">
            <td th:text="${libro.title}"></td>
            <td th:text="${libro.author}"></td>
            <td th:text="${libro.category.name}"></td>
            <td>
                <a th:href="@{/updateLibro/{id}(id=${libro.id})}">Update</a>
                <a th:href="@{/detailLibro/{id}(id=${libro.id})}">Details</a>
                <!--            <a th:href="@{/deleteDepartment/{id}(id=${department.id})}">Delete</a>-->
            </td>
        </tr>
    </table>
</div>

<button><a th:href="@{/register}">Register for an account</a></button>
<button><a th:href="@{/addLibro}">Add a book</a></button>
<br><br>

<div th:replace="base ::footerfg"></div>
</body>
</html>