<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <div th:replace="base :: headerfg"></div>

</head>
<style>
    .main {
        padding: 20px;
    }
</style>
<body>

<div th:replace="base :: navlinksfg"></div>

<div class="main">

    <button><a th:href="@{/addEmployee}">Add an employee</a></button>
    <br><br>


<div th:each="employee : ${employees}">
    <img th:src="${employee.headshot}" width="80" height="80"  alt="photo"/>
Employee Name: <span th:text="${employee.name}" ></span><br>
Employee Title: <span th:text="${employee.title}" ></span><br>
Employee Team: <span th:text="${employee.team}" ></span><br>




<a th:href="@{/updateEmployee/{id}(id=${employee.id})}">Update</a>
<a th:href="@{/detailEmployee/{id}(id=${employee.id})}">Details</a>
<!--<a th:href="@{/delete/{id}(id=${department.id})}">Delete</a>-->
    <br>
    <br>

</div>
<div th:replace="base ::footerfg"></div>
</div>
</body>
</html>